#
# GIT Ignore
#
# * Template version: 1.3.0
#

#
# Main
#

/build/*
/lib/*
/logs/*
/tmp/*
/vault/*

/.local
/.secrets

#
# Project specific exclusions
#

/.vscode

# GO Lang
/vendor

# FluxCD / Upstream only: do not save FluxCD deployment
/var/dev/fluxcd/flux-system/*

# Keep placeholder for empty directories
!/**/.gitkeep
