#
# GIT Ignore
#
# * Template version: 1.0.0
#

# VScode
.vscode
*.code-workspace

# Dev libs. Dynamic content update at dev time
lib/*

# Temporary files, mostly runtime
tmp/*

# Keep placeholder for empty directories
!/**/.gitkeep

#
# Project specific exclusions
#
