#!/usr/bin/env bash
# Template: 1.1.0
#######################################
# Kind / Control
#
# Control script for Minikube cluster
#
# Author: SerDigital64 (https://github.com/serdigital64)
# Repository: https://github.com/automation64/gitops64
# Version: 1.1.0
#
#######################################
# Copyright [2023] [serdigital64@gmail.com]
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#######################################

#
# Imports
#

# shellcheck source=lib/bl64/bashlib64.bash
source 'lib/bl64/bashlib64.bash' || { echo "Error: unable to load bashlib64" && exit 1; }

# shellcheck source=src/infrastructure/gitops64/bl64-lib/setup
source 'src/infrastructure/gitops64/bl64-lib/setup' || { echo "Error: unable to load bashlib64" && exit 1; }

#
# Globals
#

export NGINX_PROXY_CONFIG=''
export NGINX_PROXY_NAME='k8s-reverse-proxy'

#
# Functions
#

function nginx_control_proxy_start() {
  bl64_dbg_app_show_function
  bl64_msg_show_task "start proxy"
  bl64_cnt_run \
    -d \
    --name "$NGINX_PROXY_NAME" \
    --network host \
    --volume "${NGINX_PROXY_CONFIG}:/etc/nginx/conf.d" \
    nginx
}

function nginx_control_proxy_delete() {
  bl64_dbg_app_show_function
  bl64_ui_ask_confirmation \
    'Do you want to completely destroy the proxy?. Confirm by typing:' \
    'YES' &&
    bl64_cnt_cli \
      stop \
      "$NGINX_PROXY_NAME" &&
    bl64_cnt_cli \
      rm \
      "$NGINX_PROXY_NAME"
}

function nginx_control_proxy_show() {
  bl64_dbg_app_show_function
  bl64_cnt_cli \
    inspect \
    "$NGINX_PROXY_NAME"
}

#######################################
# Initialize environment
#
# Arguments:
#   None
# Outputs:
#   Initializacion progress messages
# Returns:
#   0: initialization ok
#   >: failed to initialize
#######################################
function nginx_control_initialize() {
  bl64_dbg_app_show_function "@"
  # shellcheck disable=SC2034
  local command="$1"
  local environment="$2"
  local profile="$3"

  # shellcheck disable=SC2015
  bl64_check_parameter 'command' &&
    bl64_check_parameter 'environment' ||
    { nginx_control_help && return 1; }

  bl64_cnt_setup ||
    return $?

  gitops64_initialize ||
    return $?

  NGINX_PROXY_CONFIG="$(pwd)/${GITOPS64_PATH_ETC}/${environment}/infrastructure/nginx/nginx-${profile}"
  bl64_check_file "${NGINX_PROXY_CONFIG}/proxy.conf"
}

#######################################
# Show script usage description
#
# Arguments:
#   None
# Outputs:
#   Command line format and description
# Returns:
#   0
#######################################
function nginx_control_help() {
  bl64_msg_show_usage \
    '<-s|-o|-d> -e Environment [-p Profile] [-V Verbose] [-D Debug] [-h]' \
    'NGINX reverse proxy control wrapper' \
    '
    -s            : Start proxy
    -o            : Show proxy details
    -d            : Delete (destroy) proxy
    ' '
    -h            : Show help
    ' '
    -e Environment: Environment name
    -p Profile    : Configuration profile
    -V Verbose    : Set verbosity level. Format: one of BL64_MSG_VERBOSE_*
    -D Debug      : Enable debugging mode. Format: one of BL64_DBG_TARGET_*
    '
}

#
# Main
#

declare nginx_control_debug="$BL64_DBG_TARGET_NONE"
declare nginx_control_verbose="$BL64_MSG_VERBOSE_APP"
declare nginx_control_command="$BL64_VAR_NULL"
declare nginx_control_option=''
declare nginx_control_environment="$BL64_VAR_NULL"
declare nginx_control_profile="$BL64_VAR_DEFAULT"

(($# == 0)) && nginx_control_help && exit 1
while getopts ':sode:p:V:D:h' nginx_control_option; do
  case "$nginx_control_option" in
  s) nginx_control_command='proxy_start' ;;
  o) nginx_control_command='proxy_show' ;;
  d) nginx_control_command='proxy_delete' ;;
  e) nginx_control_environment="$OPTARG" ;;
  p) nginx_control_profile="$OPTARG" ;;
  V) nginx_control_verbose="$OPTARG" ;;
  D) nginx_control_debug="$OPTARG" ;;
  h) nginx_control_help && exit 0 ;;
  *) nginx_control_help && exit 1 ;;
  esac
done
bl64_dbg_set_level "$nginx_control_debug" && bl64_msg_set_level "$nginx_control_verbose" || exit $?
nginx_control_initialize "$nginx_control_command" "$nginx_control_environment" "$nginx_control_profile" || exit $?

bl64_msg_show_batch_start "$nginx_control_command"
case "$nginx_control_command" in
'proxy_start' | 'proxy_show' | 'proxy_stop' | 'proxy_delete') "nginx_control_${nginx_control_command}" ;;
*) bl64_check_alert_parameter_invalid "$nginx_control_command" ;;
esac
bl64_msg_show_batch_finish $? "$nginx_control_command"
